@font-face {
  font-family: exo;
  src: url(../fonts/Exo2-Light.otf);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: exo;
  width: 100vw;
}

header {
  width: 100vw;
  height: 30vh;
  background-image: linear-gradient(
    rgba(20,20,20, .4), 
    rgba(20,20,20, .4)),
    url('../img/header.jpg');
  background-size: cover;
  background-position: center center;
  color: white;
  text-align: center;
}

header h1 {
  margin-top: 0;
  padding-top: 100px;
  font-size: 3em;
}

article {
  margin: 0 20px;
  margin-bottom: 60px;
  font-size: 1.2em;
}

.video h2 {
  margin: 30px;
}

/* width="560" height="315" */
.yt {
  margin: 40px auto;
  display: block;
  max-width: 100%;
  min-width: 65%;
}

.testimonials img {
  float: left;
}

.card {
  padding: 20px 30px;
  background-color: rgb(238, 238, 238);
}

.testimonials {
  margin: auto;
  padding: 20px;
  width: 75%;
  margin-bottom: 110px;
}

.slick-prev:before, .slick-next:before { 
  color:grey !important;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  /* width: 500px; */
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
  }

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -10px;
  top: -20px;
  color: #7a7a7a;
  }

  blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    }
     
    blockquote cite:before {
    content: "\2014 \2009";
    }

blockquote {
  margin-left:150px;
  padding-right: 0;
  height: 120px;
}

footer {
  background-color: rgb(37, 37, 46);
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  clear: both;
}

.logo {
  position: absolute;
  right: 40px;
  bottom: 23px;
  height: 55px;
}

a.cta {
  color: rgb(178, 178, 202);
  text-decoration: none;
  font-size: 1.7em;
  position: absolute;
  left: 40px;
  bottom: 37px;
}

